In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./Datasets/Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [4]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       6.376667      3.054000       3.758667      1.198667
std     43.445368       3.244581      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.500000      3.300000       5.100000      1.800000
max    150.000000      25.800000      4.400000       6.900000      2.500000

In [5]:
dfg = df.groupby('Species')
dfg.describe()

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  6.606  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

In [ ]:
columns = ["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]
print(columns)
mean = []
median = []
var = []

dfgrouped = df.groupby('Species')

for species, group in dfgrouped:
    print(f"statistics for: {species}")
    for col in columns:
        val = group[col]
        variance = sum((val - val.mean())**2) / len(val)
        deviation = variance**0.5
        print(f"Column: {col}")
        print(f"Variance = {variance}")
        print(f"Standard Deviation = {deviation}")
        print(f"Mean = {val.mean()}")
        print(f"Median = {val.median()}")
        print(f"Inter Quartile Range = {val.quantile(0.75) - val.quantile(0.25)}")
        print(f"Min = {val.min()}")
        print(f"Max = {val.max()}")
        print("\n")
        mean.append(val.mean())
        median.append(val.median())
        var.append(variance)

['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']
statistics for: Iris-setosa
Column: SepalLengthCm
Variance = 30.422564
Standard Deviation = 5.515665327048043
Mean = 6.606
Median = 5.0
Inter Quartile Range = 0.47500000000000053
Min = 4.3
Max = 25.8


Column: SepalWidthCm
Variance = 0.142276
Standard Deviation = 0.37719490982779713
Mean = 3.418
Median = 3.4
Inter Quartile Range = 0.5500000000000003
Min = 2.3
Max = 4.4


Column: PetalLengthCm
Variance = 0.029504000000000002
Standard Deviation = 0.17176728442867112
Mean = 1.464
Median = 1.5
Inter Quartile Range = 0.17500000000000027
Min = 1.0
Max = 1.9


Column: PetalWidthCm
Variance = 0.011263999999999998
Standard Deviation = 0.10613199329137278
Mean = 0.244
Median = 0.2
Inter Quartile Range = 0.09999999999999998
Min = 0.1
Max = 0.6


statistics for: Iris-versicolor
Column: SepalLengthCm
Variance = 0.261104
Standard Deviation = 0.5109833656783751
Mean = 5.936
Median = 5.9
Inter Quartile Range = 0.7000000000000002
Min = 4.9
Max = 7.0


Column: SepalWidthCm
Variance = 0.0965
Standard Deviation = 0.31064449134018135
Mean = 2.7700000000000005
Median = 2.8
Inter Quartile Range = 0.4750000000000001
Min = 2.0
Max = 3.4


Column: PetalLengthCm
Variance = 0.21640000000000004
Standard Deviation = 0.4651881339845203
Mean = 4.26
Median = 4.35
Inter Quartile Range = 0.5999999999999996
Min = 3.0
Max = 5.1


Column: PetalWidthCm
Variance = 0.038324
Standard Deviation = 0.19576516544063705
Mean = 1.3259999999999998
Median = 1.3
Inter Quartile Range = 0.30000000000000004
Min = 1.0
Max = 1.8


statistics for: Iris-virginica
Column: SepalLengthCm
Variance = 0.39625600000000005
Standard Deviation = 0.6294886813914926
Mean = 6.587999999999998
Median = 6.5
Inter Quartile Range = 0.6750000000000007
Min = 4.9
Max = 7.9


Column: SepalWidthCm
Variance = 0.10192399999999997
Standard Deviation = 0.31925538366643086
Mean = 2.974
Median = 3.0
Inter Quartile Range = 0.37500000000000044
Min = 2.2
Max = 3.8


Column: PetalLengthCm
Variance = 0.29849600000000004
Standard Deviation = 0.546347874526844
Mean = 5.5520000000000005
Median = 5.55
Inter Quartile Range = 0.7750000000000004
Min = 4.5
Max = 6.9


Column: PetalWidthCm
Variance = 0.07392399999999999
Standard Deviation = 0.2718896835115301
Mean = 2.0260000000000002
Median = 2.0
Inter Quartile Range = 0.4999999999999998
Min = 1.4
Max = 2.5

NBA Dataset

In [7]:
df = pd.read_csv("./Datasets/nba.csv")
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [8]:
df["College"]=df["College"].fillna("No College")
df["Salary"]=df["Salary"].fillna(df["Salary"].mean())
df=df.dropna()
df.isna().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [9]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.570000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.165781e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.100602e+06
50%     13.000000   26.000000  220.000000  2.869440e+06
75%     25.000000   30.000000  240.000000  6.331404e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [19]:
df['College'] = df['College'].astype('object')
dfg = df.groupby('College')
dfg.describe()

                 Number                                                      \
                  count       mean        std   min   25%   50%   75%   max
College
Alabama             3.0  22.333333  26.764404   0.0   7.5  15.0  33.5  52.0
Arizona            13.0  18.076923  12.365689   0.0   9.0  19.0  24.0  44.0
Arizona State       2.0  16.000000   4.242641  13.0  14.5  16.0  17.5  19.0
Arkansas            3.0   3.000000   1.732051   2.0   2.0   2.0   3.5   5.0
Baylor              1.0  13.000000        NaN  13.0  13.0  13.0  13.0  13.0
...                 ...        ...        ...   ...   ...   ...   ...   ...
Western Michigan    1.0  42.000000        NaN  42.0  42.0  42.0  42.0  42.0
Wichita State       1.0  11.000000        NaN  11.0  11.0  11.0  11.0  11.0
Wisconsin           5.0  28.200000  13.608821   7.0  26.0  30.0  34.0  44.0
Wyoming             1.0   7.000000        NaN   7.0   7.0   7.0   7.0   7.0
Xavier              1.0  30.000000        NaN  30.0  30.0  30.0  30.0  30.0

                 Weight              ...               Salary                \
                  count        mean  ...    75%    max  count          mean
College                              ...
Alabama             3.0  216.666667  ...  226.0  227.0    3.0  1.421686e+06
Arizona            13.0  221.692308  ...  235.0  255.0   13.0  3.325948e+06
Arizona State       2.0  235.000000  ...  242.5  250.0    2.0  7.933941e+06
Arkansas            3.0  218.333333  ...  235.0  240.0    3.0  2.713180e+06
Baylor              1.0  240.000000  ...  240.0  240.0    1.0  9.813480e+05
...                 ...         ...  ...    ...    ...    ...           ...
Western Michigan    1.0  250.000000  ...  250.0  250.0    1.0  8.450590e+05
Wichita State       1.0  210.000000  ...  210.0  210.0    1.0  8.450590e+05
Wisconsin           5.0  220.600000  ...  230.0  240.0    5.0  1.974492e+06
Wyoming             1.0  230.000000  ...  230.0  230.0    1.0  1.155600e+06
Xavier              1.0  250.000000  ...  250.0  250.0    1.0  1.499187e+06

                                                                             \
                           std        min        25%        50%         75%
College
Alabama           6.336200e+05   845059.0  1082529.5  1320000.0   1710000.0
Arizona           3.325132e+06   206192.0   947276.0  2841960.0   4000000.0
Arizona State     1.106268e+07   111444.0  4022692.5  7933941.0  11845189.5
Arkansas          3.316201e+06   261894.0   826527.0  1391160.0   3938823.0
Baylor                     NaN   981348.0   981348.0   981348.0    981348.0
...                        ...        ...        ...        ...         ...
Western Michigan           NaN   845059.0   845059.0   845059.0    845059.0
Wichita State              NaN   845059.0   845059.0   845059.0    845059.0
Wisconsin         1.398229e+06   525093.0  1035000.0  1646400.0   2612520.0
Wyoming                    NaN  1155600.0  1155600.0  1155600.0   1155600.0
Xavier                     NaN  1499187.0  1499187.0  1499187.0   1499187.0


                         max
College
Alabama            2100000.0
Arizona           11710456.0
Arizona State     15756438.0
Arkansas           6486486.0
Baylor              981348.0
...                      ...
Western Michigan    845059.0
Wichita State       845059.0
Wisconsin          4053446.0
Wyoming            1155600.0
Xavier             1499187.0

[119 rows x 24 columns]

In [20]:
columns = ["Salary"]
print(columns)

for clgGroup, group in dfg:
    print(f"Statistics for {clgGroup}:\n")
    
    for col in columns:
        val = group[col]  # Get values for the current column of the species
        
        # Calculate variance, standard deviation, mean, median, etc.
        variance = sum((val - val.mean())**2) / len(val)
        deviation = variance**0.5
        
        print(f"Column: {col}")
        print(f"Variance = {variance}")
        print(f"Standard Deviation = {deviation}")
        print(f"Mean = {val.mean()}")
        print(f"Median = {val.median()}")
        print(f"Inter Quartile Range = {val.quantile(0.75) - val.quantile(0.25)}")
        print(f"Min = {val.min()}")
        print(f"Max = {val.max()}")
        print("\n")

['Salary']
Statistics for Alabama:

Column: Salary
Variance = 267649540773.55554
Standard Deviation = 517348.5679631824
Mean = 1421686.3333333333
Median = 1320000.0
Inter Quartile Range = 627470.5
Min = 845059.0
Max = 2100000.0


Statistics for Arizona:

Column: Salary
Variance = 10206003056313.977
Standard Deviation = 3194683.5612176014
Mean = 3325947.846153846
Median = 2841960.0
Inter Quartile Range = 3052724.0
Min = 206192.0
Max = 11710456.0


Statistics for Arizona State:

Column: Salary
Variance = 61191459315009.0
Standard Deviation = 7822497.0
Mean = 7933941.0
Median = 7933941.0
Inter Quartile Range = 7822497.0
Min = 111444.0
Max = 15756438.0


Statistics for Arkansas:

Column: Salary
Variance = 7331459367944.0
Standard Deviation = 2707666.7756472547
Mean = 2713180.0
Median = 1391160.0
Inter Quartile Range = 3112296.0
Min = 261894.0
Max = 6486486.0


Statistics for Baylor:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 981348.0
Median = 981348.0
Inter Quartile Range = 0.0
Min = 981348.0
Max = 981348.0


Statistics for Belmont:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 947276.0
Median = 947276.0
Inter Quartile Range = 0.0
Min = 947276.0
Max = 947276.0


Statistics for Blinn College:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 5000000.0
Median = 5000000.0
Inter Quartile Range = 0.0
Min = 5000000.0
Max = 5000000.0


Statistics for Boston College:

Column: Salary
Variance = 22743570836484.0
Standard Deviation = 4769022.0
Mean = 9144022.0
Median = 9144022.0
Inter Quartile Range = 4769022.0
Min = 4375000.0
Max = 13913044.0


Statistics for Boston University:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 4842684.105381166
Median = 4842684.105381166
Inter Quartile Range = 0.0
Min = 4842684.105381166
Max = 4842684.105381166


Statistics for Bowling Green:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 1074169.0
Median = 1074169.0
Inter Quartile Range = 0.0
Min = 1074169.0
Max = 1074169.0


Statistics for Bucknell:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 947276.0
Median = 947276.0
Inter Quartile Range = 0.0
Min = 947276.0
Max = 947276.0


Statistics for Butler:

Column: Salary
Variance = 42095681670042.25
Standard Deviation = 6488118.5
Mean = 8921451.5
Median = 8921451.5
Inter Quartile Range = 6488118.5
Min = 2433333.0
Max = 15409570.0


Statistics for California:

Column: Salary
Variance = 14075898965026.89
Standard Deviation = 3751786.103314912
Mean = 3212243.6666666665
Median = 947276.0
Inter Quartile Range = 4155272.5
Min = 189455.0
Max = 8500000.0


Statistics for Central Michigan:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 5016000.0
Median = 5016000.0
Inter Quartile Range = 0.0
Min = 5016000.0
Max = 5016000.0


Statistics for Charleston:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 200600.0
Median = 200600.0
Inter Quartile Range = 0.0
Min = 200600.0
Max = 200600.0


Statistics for Cincinnati:

Column: Salary
Variance = 19650535916556.25
Standard Deviation = 4432892.5
Mean = 4567107.5
Median = 4567107.5
Inter Quartile Range = 4432892.5
Min = 134215.0
Max = 9000000.0


Statistics for Clemson:

Column: Salary
Variance = 628219515609.0
Standard Deviation = 792603.0
Mean = 3982397.0
Median = 3982397.0
Inter Quartile Range = 792603.0
Min = 3189794.0
Max = 4775000.0


Statistics for Cleveland State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 3036927.0
Median = 3036927.0
Inter Quartile Range = 0.0
Min = 3036927.0
Max = 3036927.0


Statistics for Colorado:

Column: Salary
Variance = 15835312129284.666
Standard Deviation = 3979360.7689281786
Mean = 3839781.0
Median = 1210800.0
Inter Quartile Range = 4309212.5
Min = 845059.0
Max = 9463484.0


Statistics for Colorado State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 4300000.0
Median = 4300000.0
Inter Quartile Range = 0.0
Min = 4300000.0
Max = 4300000.0


Statistics for Connecticut:

Column: Salary
Variance = 21909714095966.125
Standard Deviation = 4680781.355283124
Mean = 4914350.142857143
Median = 3034356.0
Inter Quartile Range = 6264232.0
Min = 947276.0
Max = 12403101.0


Statistics for Creighton:

Column: Salary
Variance = 2139691115618.0
Standard Deviation = 1462768.3055145815
Mean = 3708973.0
Median = 3000000.0
Inter Quartile Range = 1683019.5
Min = 2380440.0
Max = 5746479.0


Statistics for Davidson:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 11370786.0
Median = 11370786.0
Inter Quartile Range = 0.0
Min = 11370786.0
Max = 11370786.0


Statistics for Dayton:

Column: Salary
Variance = 877586745616.0
Standard Deviation = 936796.0
Mean = 1918144.0
Median = 1918144.0
Inter Quartile Range = 936796.0
Min = 981348.0
Max = 2854940.0


Statistics for DePaul:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 10449438.0
Median = 10449438.0
Inter Quartile Range = 0.0
Min = 10449438.0
Max = 10449438.0


Statistics for Detroit:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 4842684.105381166
Median = 4842684.105381166
Inter Quartile Range = 0.0
Min = 4842684.105381166
Max = 4842684.105381166


Statistics for Duke:

Column: Salary
Variance = 12722856023724.857
Standard Deviation = 3566911.272196837
Mean = 4483227.210538116
Median = 4500000.0
Inter Quartile Range = 3547863.25
Min = 947276.0
Max = 16407501.0


Statistics for Eastern Washington:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 7000000.0
Median = 7000000.0
Inter Quartile Range = 0.0
Min = 7000000.0
Max = 7000000.0


Statistics for Florida:

Column: Salary
Variance = 26166167541639.96
Standard Deviation = 5115287.630391859
Mean = 6533571.2
Median = 4754837.0
Inter Quartile Range = 8779355.5
Min = 947276.0
Max = 15361500.0


Statistics for Florida State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 1164858.0
Median = 1164858.0
Inter Quartile Range = 0.0
Min = 1164858.0
Max = 1164858.0


Statistics for Fresno State:

Column: Salary
Variance = 47954805523760.97
Standard Deviation = 6924940.831787732
Mean = 7602616.368460388
Median = 4842684.105381166
Inter Quartile Range = 8137523.5
Min = 845059.0
Max = 17120106.0


Statistics for Georgetown:

Column: Salary
Variance = 40276804252883.47
Standard Deviation = 6346400.889707762
Mean = 8034538.166666667
Median = 7156480.0
Inter Quartile Range = 12230465.75
Min = 947276.0
Max = 16407500.0


Statistics for Georgia:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 2891760.0
Median = 2891760.0
Inter Quartile Range = 0.0
Min = 2891760.0
Max = 2891760.0


Statistics for Georgia State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 1148640.0
Median = 1148640.0
Inter Quartile Range = 0.0
Min = 1148640.0
Max = 1148640.0


Statistics for Georgia Tech:

Column: Salary
Variance = 35075992081622.223
Standard Deviation = 5922498.803851481
Mean = 10676908.333333334
Median = 10112360.0
Inter Quartile Range = 4836797.5
Min = 3344000.0
Max = 22192730.0


Statistics for Gonzaga:

Column: Salary
Variance = 350352712836.0
Standard Deviation = 591906.0
Mean = 1573254.0
Median = 1573254.0
Inter Quartile Range = 591906.0
Min = 981348.0
Max = 2165160.0


Statistics for Harvard:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 2139000.0
Median = 2139000.0
Inter Quartile Range = 0.0
Min = 2139000.0
Max = 2139000.0


Statistics for Houston:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 525093.0
Median = 525093.0
Inter Quartile Range = 0.0
Min = 525093.0
Max = 525093.0


Statistics for IUPUI:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 8000000.0
Median = 8000000.0
Inter Quartile Range = 0.0
Min = 8000000.0
Max = 8000000.0


Statistics for Illinois:

Column: Salary
Variance = 1326060493209.0
Standard Deviation = 1151547.0
Mean = 4227427.0
Median = 4227427.0
Inter Quartile Range = 1151547.0
Min = 3075880.0
Max = 5378974.0


Statistics for Indiana:

Column: Salary
Variance = 25637680662075.188
Standard Deviation = 5063366.53443884
Mean = 6887117.75
Median = 4698360.0
Inter Quartile Range = 3960317.75
Min = 2637720.0
Max = 15514031.0


Statistics for Iowa:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 845059.0
Median = 845059.0
Inter Quartile Range = 0.0
Min = 845059.0
Max = 845059.0


Statistics for Iowa State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 169883.0
Median = 169883.0
Inter Quartile Range = 0.0
Min = 169883.0
Max = 169883.0


Statistics for Kansas:

Column: Salary
Variance = 3865448729879.432
Standard Deviation = 1966074.4466778038
Mean = 2861320.111111111
Median = 2834470.0
Inter Quartile Range = 2513307.5
Min = 525093.0
Max = 8000000.0


Statistics for Kansas State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 306527.0
Median = 306527.0
Inter Quartile Range = 0.0
Min = 306527.0
Max = 306527.0


Statistics for Kentucky:

Column: Salary
Variance = 28203471355104.715
Standard Deviation = 5310694.055874874
Mean = 6259388.909090909
Median = 4580700.0
Inter Quartile Range = 6736852.5
Min = 222888.0
Max = 16407500.0


Statistics for LSU:

Column: Salary
Variance = 726044464410.8055
Standard Deviation = 852082.428178639
Mean = 1258010.1666666667
Median = 1135781.0
Inter Quartile Range = 306925.25
Min = 200600.0
Max = 3000000.0


Statistics for Lehigh:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 2525160.0
Median = 2525160.0
Inter Quartile Range = 0.0
Min = 2525160.0
Max = 2525160.0


Statistics for Long Beach State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 845059.0
Median = 845059.0
Inter Quartile Range = 0.0
Min = 845059.0
Max = 845059.0


Statistics for Louisiana Tech:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 18671659.0
Median = 18671659.0
Inter Quartile Range = 0.0
Min = 18671659.0
Max = 18671659.0


Statistics for Louisiana-Lafayette:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 2505720.0
Median = 2505720.0
Inter Quartile Range = 0.0
Min = 2505720.0
Max = 2505720.0


Statistics for Louisville:

Column: Salary
Variance = 114122969955.55556
Standard Deviation = 337820.9140292465
Mean = 1432933.3333333333
Median = 1474440.0
Inter Quartile Range = 412180.0
Min = 1000000.0
Max = 1824360.0


Statistics for Marquette:

Column: Salary
Variance = 53386026053918.16
Standard Deviation = 7306574.16672945
Mean = 11981288.8
Median = 16407500.0
Inter Quartile Range = 9611383.0
Min = 295327.0
Max = 20000000.0


Statistics for Marshall:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 981348.0
Median = 981348.0
Inter Quartile Range = 0.0
Min = 981348.0
Max = 981348.0


Statistics for Maryland:

Column: Salary
Variance = 3344399844405.556
Standard Deviation = 1828770.0359546456
Mean = 4192528.3333333335
Median = 3807120.0
Inter Quartile Range = 2214767.5
Min = 2170465.0
Max = 6600000.0


Statistics for Memphis:

Column: Salary
Variance = 45962649559872.664
Standard Deviation = 6779575.912981037
Mean = 11453661.0
Median = 10734586.0
Inter Quartile Range = 8279865.5
Min = 3533333.0
Max = 20093064.0


Statistics for Miami (FL):

Column: Salary
Variance = 76375955044.0
Standard Deviation = 276362.0
Mean = 1223638.0
Median = 1223638.0
Inter Quartile Range = 276362.0
Min = 947276.0
Max = 1500000.0


Statistics for Michigan:

Column: Salary
Variance = 2450964501155.555
Standard Deviation = 1565555.6525258229
Mean = 2511706.6666666665
Median = 2060640.0
Inter Quartile Range = 1472490.0
Min = 1100000.0
Max = 5675000.0


Statistics for Michigan State:

Column: Salary
Variance = 24784805040088.887
Standard Deviation = 4978433.994750647
Mean = 5324639.666666667
Median = 2969420.0
Inter Quartile Range = 6555846.25
Min = 525093.0
Max = 14260870.0


Statistics for Minnesota:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 1000000.0
Median = 1000000.0
Inter Quartile Range = 0.0
Min = 1000000.0
Max = 1000000.0


Statistics for Missouri:

Column: Salary
Variance = 38528782150481.55
Standard Deviation = 6207155.72146225
Mean = 4833593.666666667
Median = 845059.0
Inter Quartile Range = 6772139.0
Min = 55722.0
Max = 13600000.0


Statistics for Morehead State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 11235955.0
Median = 11235955.0
Inter Quartile Range = 0.0
Min = 11235955.0
Max = 11235955.0


Statistics for Murray State:

Column: Salary
Variance = 288500042884.0
Standard Deviation = 537122.0
Mean = 1484398.0
Median = 1484398.0
Inter Quartile Range = 537122.0
Min = 947276.0
Max = 2021520.0


Statistics for Nevada:

Column: Salary
Variance = 220303566534.8889
Standard Deviation = 469365.0674420593
Mean = 1514010.3333333333
Median = 1270964.0
Inter Quartile Range = 534931.5
Min = 1100602.0
Max = 2170465.0


Statistics for New Mexico:

Column: Salary
Variance = 119308413510.25
Standard Deviation = 345410.5
Mean = 1190469.5
Median = 1190469.5
Inter Quartile Range = 345410.5
Min = 845059.0
Max = 1535880.0


Statistics for No College:

Column: Salary
Variance = 30449089570515.125
Standard Deviation = 5518069.369853475
Mean = 5806300.585842408
Median = 4000000.0
Inter Quartile Range = 6653875.5
Min = 30888.0
Max = 25000000.0


Statistics for Norfolk State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 3750000.0
Median = 3750000.0
Inter Quartile Range = 0.0
Min = 3750000.0
Max = 3750000.0


Statistics for North Carolina:

Column: Salary
Variance = 7046261468811.777
Standard Deviation = 2654479.509962693
Mean = 3438716.1875
Median = 2780098.0
Inter Quartile Range = 3192324.25
Min = 211744.0
Max = 10000000.0


Statistics for North Carolina State:

Column: Salary
Variance = 763953358566.2223
Standard Deviation = 874044.2543522738
Mean = 808520.6666666666
Median = 273038.0
Inter Quartile Range = 964818.0
Min = 111444.0
Max = 2041080.0


Statistics for Northeastern:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 4290000.0
Median = 4290000.0
Inter Quartile Range = 0.0
Min = 4290000.0
Max = 4290000.0


Statistics for Notre Dame:

Column: Salary
Variance = 224328692322.25
Standard Deviation = 473633.5
Mean = 1098726.5
Median = 1098726.5
Inter Quartile Range = 473633.5
Min = 625093.0
Max = 1572360.0


Statistics for Ohio State:

Column: Salary
Variance = 6889675077840.959
Standard Deviation = 2624819.0562095814
Mean = 5677263.2
Median = 5103120.0
Inter Quartile Range = 4274490.0
Min = 2569260.0
Max = 9588426.0


Statistics for Oklahoma:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 18907726.0
Median = 18907726.0
Inter Quartile Range = 0.0
Min = 18907726.0
Max = 18907726.0


Statistics for Oklahoma State:

Column: Salary
Variance = 3206707835243.1875
Standard Deviation = 1790728.2974374385
Mean = 2612514.75
Median = 2223230.5
Inter Quartile Range = 2890084.25
Min = 845059.0
Max = 5158539.0


Statistics for Old Dominion:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 2000000.0
Median = 2000000.0
Inter Quartile Range = 0.0
Min = 2000000.0
Max = 2000000.0


Statistics for Oregon:

Column: Salary
Variance = 386246091169.0
Standard Deviation = 621487.0
Mean = 1628513.0
Median = 1628513.0
Inter Quartile Range = 621487.0
Min = 1007026.0
Max = 2250000.0


Statistics for Oregon State:

Column: Salary
Variance = 2612078772.25
Standard Deviation = 51108.5
Mean = 896167.5
Median = 896167.5
Inter Quartile Range = 51108.5
Min = 845059.0
Max = 947276.0


Statistics for Penn State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 845059.0
Median = 845059.0
Inter Quartile Range = 0.0
Min = 845059.0
Max = 845059.0


Statistics for Pittsburgh:

Column: Salary
Variance = 769082519702.25
Standard Deviation = 876973.5
Mean = 1402066.5
Median = 1402066.5
Inter Quartile Range = 876973.5
Min = 525093.0
Max = 2279040.0


Statistics for Providence:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 700902.0
Median = 700902.0
Inter Quartile Range = 0.0
Min = 700902.0
Max = 700902.0


Statistics for Purdue:

Column: Salary
Variance = 7520151701810.25
Standard Deviation = 2742289.5
Mean = 3757710.5
Median = 3757710.5
Inter Quartile Range = 2742289.5
Min = 1015421.0
Max = 6500000.0


Statistics for Rhode Island:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 4842684.105381166
Median = 4842684.105381166
Inter Quartile Range = 0.0
Min = 4842684.105381166
Max = 4842684.105381166


Statistics for Rider:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 245177.0
Median = 245177.0
Inter Quartile Range = 0.0
Min = 245177.0
Max = 245177.0


Statistics for Saint Joseph's:

Column: Salary
Variance = 3062396750870.25
Standard Deviation = 1749970.5
Mean = 2595029.5
Median = 2595029.5
Inter Quartile Range = 1749970.5
Min = 845059.0
Max = 4345000.0


Statistics for Saint Louis:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 947276.0
Median = 947276.0
Inter Quartile Range = 0.0
Min = 947276.0
Max = 947276.0


Statistics for Saint Mary's:

Column: Salary
Variance = 1478255963060.25
Standard Deviation = 1215835.5
Mean = 2363111.5
Median = 2363111.5
Inter Quartile Range = 1215835.5
Min = 1147276.0
Max = 3578947.0


Statistics for San Diego State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 16407500.0
Median = 16407500.0
Inter Quartile Range = 0.0
Min = 16407500.0
Max = 16407500.0


Statistics for St. Bonaventure:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 2380593.0
Median = 2380593.0
Inter Quartile Range = 0.0
Min = 2380593.0
Max = 2380593.0


Statistics for St. John's:

Column: Salary
Variance = 1245624533928.6667
Standard Deviation = 1116075.5054783106
Mean = 1366608.0
Median = 947276.0
Inter Quartile Range = 1317785.0
Min = 258489.0
Max = 2894059.0


Statistics for Stanford:

Column: Salary
Variance = 60968637776560.164
Standard Deviation = 7808241.657156889
Mean = 7004859.8
Median = 1140240.0
Inter Quartile Range = 11804941.0
Min = 700000.0
Max = 19689000.0


Statistics for Syracuse:

Column: Salary
Variance = 49864286106609.984
Standard Deviation = 7061464.8697426785
Mean = 4520969.625
Median = 1401300.0
Inter Quartile Range = 2006679.5
Min = 845059.0
Max = 22875000.0


Statistics for Temple:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 4050000.0
Median = 4050000.0
Inter Quartile Range = 0.0
Min = 4050000.0
Max = 4050000.0


Statistics for Tennessee:

Column: Salary
Variance = 41063959196546.19
Standard Deviation = 6408116.665335158
Mean = 5409072.25
Median = 2762546.5
Inter Quartile Range = 7328381.25
Min = 111196.0
Max = 16000000.0


Statistics for Tennessee State:

Column: Salary
Variance = 0.0
Standard Deviation = 0.0
Mean = 1000000.0
Median = 1000000.0
Inter Quartile Range = 0.0
Min = 1000000.0
Max = 1000000.0


Statistics for Texas:

Column: Salary
Variance = 47574666877131.43
Standard Deviation = 6897439.153564998
Mean = 8968001.111111112
Median = 7000000.0
Inter Quartile Range = 11260870.0
Min = 1015421.0
Max = 20158622.0


Statistics for Texas A&M:

Column: Salary
Variance = 62808861879150.22
Standard Deviation = 7925204.216873545
Mean = 11778758.666666666
Median = 14700000.0
Inter Quartile Range = 9370862.0
Min = 947276.0
Max = 19689000.0


Statistics for UC Santa Barbara:

Column: Salary
Variance = 191476406.25
Standard Deviation = 13837.5
Mean = 69559.5
Median = 69559.5
Inter Quartile Range = 13837.5
Min = 55722.0
Max = 83397.0


Statistics for UCLA:

Column: Salary
Variance = 32869114332544.1
Standard Deviation = 5733159.193022997
Mean = 5740166.273692077
Median = 3542500.0
Inter Quartile Range = 6822775.0
Min = 650000.0
Max = 19689000.0


Statistics for UNLV:

Column: Salary
Variance = 496093258901.1875
Standard Deviation = 704338.8807251716
Mean = 1598402.25
Median = 1684258.0
Inter Quartile Range = 566899.75
Min = 525093.0
Max = 2500000.0


Statistics for USC:

Column: Salary
Variance = 10724376315938.201
Standard Deviation = 3274809.355663044
Mean = 6972732.729340167
Median = 8000000.0
Inter Quartile Range = 4244073.447309418
Min = 947276.0
Max = 11250000.0

